<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncFixer" version="2.1.0" targetFramework="net481" developmentDependency="true" />
  <package id="log4net" version="3.4.0" targetFramework="net481" />
  <package id="log4net.Ext.Json" version="3.0.3" targetFramework="net481" />
  <package
    id="Meziantou.Analyzer"
    version="3.0.203"
    targetFramework="net481"
    developmentDependency="true"
  />
  <package
    id="Microsoft.CodeAnalysis.BannedApiAnalyzers"
    version="5.6.0"
    targetFramework="net481"
    developmentDependency="true"
  />
  <package
    id="Roslynator.Analyzers"
    version="5.0.0"
    targetFramework="net481"
    developmentDependency="true"
  />
  <package
    id="SonarAnalyzer.CSharp"
    version="10.33.0.1635"
    targetFramework="net481"
    developmentDependency="true"
  />
</packages>
