<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TaskMaster.Properties.Settings>
      <setting name="MaxToDo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FileName_ProjInfo" serializeAs="String">
        <value>ProjInfo.json</value>
      </setting>
      <setting name="FilenameDictPpl" serializeAs="String">
        <value>pplkey.json</value>
      </setting>
      <setting name="FileName_IDList" serializeAs="String">
        <value>UsedIDList.json</value>
      </setting>
    </TaskMaster.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <TaskMaster.Properties.Settings>
      <setting name="Default_Task_Length" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Prefix_People" serializeAs="String">
        <value>Tag PPL </value>
      </setting>
      <setting name="Prefix_Context" serializeAs="String">
        <value>_@</value>
      </setting>
      <setting name="Prefix_Topic" serializeAs="String">
        <value>Tag TOPIC </value>
      </setting>
      <setting name="Prefix_Project" serializeAs="String">
        <value>Tag PROJECT </value>
      </setting>
      <setting name="Prefix_Today" serializeAs="String">
        <value>Tag A Top Priority Today</value>
      </setting>
      <setting name="Prefix_Bullpin" serializeAs="String">
        <value>Tag Bullpin Priorities</value>
      </setting>
      <setting name="Prefix_KB" serializeAs="String">
        <value>Tag KB </value>
      </setting>
      <setting name="Archive_Root" serializeAs="String">
        <value>Archive</value>
      </setting>
      <setting name="FileName_DictRemap" serializeAs="String">
        <value>dictRemap.csv</value>
      </setting>
      <setting name="ConversationExponent" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ConversationWeight" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="SubjectExponent" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SmithWatterman_GapPenalty" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SmithWatterman_MatchScore" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SmithWatterman_MismatchScore" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxRecents" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="FileName_Recents" serializeAs="String">
        <value>9999999RecentsFile.json</value>
      </setting>
      <setting name="File_CTF_Inc" serializeAs="String">
        <value>9999999CTF_Inc.json</value>
      </setting>
      <setting name="File_CTF_Map" serializeAs="String">
        <value>9999999CTF_Map.json</value>
      </setting>
      <setting name="File_Subject_Map" serializeAs="String">
        <value>9999999Subject_Map.json</value>
      </setting>
      <setting name="File_Common_Words" serializeAs="String">
        <value>9999999CommonWords.json</value>
      </setting>
      <setting name="File_ConditionalReminders" serializeAs="String">
        <value>999999ConditionalReminders.json</value>
      </setting>
      <setting name="FileName_CategoryFilters" serializeAs="String">
        <value>999999CategoryFilters.json</value>
      </setting>
      <setting name="View_Wide" serializeAs="String">
        <value>Main View</value>
      </setting>
      <setting name="View_Compact" serializeAs="String">
        <value>Compact</value>
      </setting>
      <setting name="BackupFile_CTF_Inc" serializeAs="String">
        <value>9999999CTF_Map.txt</value>
      </setting>
      <setting name="BackupFile_CommonWords" serializeAs="String">
        <value>9999999CommonWords.txt</value>
      </setting>
      <setting name="FileName_SubjectEncoding" serializeAs="String">
        <value>9999999SubjectEncoding.json</value>
      </setting>
      <setting name="BackupFile_SubjectMap" serializeAs="String">
        <value>9999999Subject_Map.txt</value>
      </setting>
      <setting name="FileName_MovedEmailsBackup" serializeAs="String">
        <value>999999EmailMoves.tsv</value>
      </setting>
      <setting name="FileName_EmailSession" serializeAs="String">
        <value>99999EmailSession.csv</value>
      </setting>
      <setting name="FileName_EmailSessionTmp" serializeAs="String">
        <value>99999EmailSessionTmp.csv</value>
      </setting>
      <setting name="FileName_MovedEmails" serializeAs="String">
        <value>999999EmailMoves.json</value>
      </setting>
      <setting name="FileName_PrefixList" serializeAs="String">
        <value>999999PrefixList.json</value>
      </setting>
    </TaskMaster.Properties.Settings>
  </userSettings>
</configuration>