<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaskMaster.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TaskMaster.TaskMaster" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaskMaster.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TaskMaster.MySettings>
            <setting name="Default_Task_Length" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Prefix_People" serializeAs="String">
                <value>Tag PPL </value>
            </setting>
            <setting name="Prefix_Context" serializeAs="String">
                <value>_@</value>
            </setting>
            <setting name="Prefix_Topic" serializeAs="String">
                <value>Tag TOPIC </value>
            </setting>
            <setting name="Prefix_Project" serializeAs="String">
                <value>Tag PROJECT </value>
            </setting>
            <setting name="Prefix_Today" serializeAs="String">
                <value>Tag A Top Priority Today</value>
            </setting>
            <setting name="Prefix_Bullpin" serializeAs="String">
                <value>Tag Bullpin Priorities</value>
            </setting>
            <setting name="Prefix_KB" serializeAs="String">
                <value>Tag KB </value>
            </setting>
            <setting name="Archive_Root" serializeAs="String">
                <value>Archive</value>
            </setting>
            <setting name="FileName_DictRemap" serializeAs="String">
                <value>dictRemap.csv</value>
            </setting>
        </TaskMaster.MySettings>
        <TaskMaster.TaskMaster>
            <setting name="MaxToDo" serializeAs="String">
                <value>0</value>
            </setting>
        </TaskMaster.TaskMaster>
    </userSettings>
    <applicationSettings>
        <TaskMaster.MySettings>
            <setting name="MaxToDo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileName_ProjInfo" serializeAs="String">
                <value>ProjInfo.bin</value>
            </setting>
            <setting name="FilenameDictPpl" serializeAs="String">
                <value>pplkey.json</value>
            </setting>
            <setting name="FileName_IDList" serializeAs="String">
                <value>UsedIDList.bin</value>
            </setting>
        </TaskMaster.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
