<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaskMaster.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TaskMaster.TaskMaster" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaskMaster.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net">
            <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TaskMaster.MySettings>
            <setting name="Default_Task_Length" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Prefix_People" serializeAs="String">
                <value>Tag PPL </value>
            </setting>
            <setting name="Prefix_Context" serializeAs="String">
                <value>_@</value>
            </setting>
            <setting name="Prefix_Topic" serializeAs="String">
                <value>Tag TOPIC </value>
            </setting>
            <setting name="Prefix_Project" serializeAs="String">
                <value>Tag PROJECT </value>
            </setting>
            <setting name="Prefix_Today" serializeAs="String">
                <value>Tag A Top Priority Today</value>
            </setting>
            <setting name="Prefix_Bullpin" serializeAs="String">
                <value>Tag Bullpin Priorities</value>
            </setting>
            <setting name="Prefix_KB" serializeAs="String">
                <value>Tag KB </value>
            </setting>
            <setting name="Archive_Root" serializeAs="String">
                <value>Archive</value>
            </setting>
            <setting name="FileName_DictRemap" serializeAs="String">
                <value>dictRemap.csv</value>
            </setting>
            <setting name="ConversationExponent" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ConversationWeight" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="SubjectExponent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SmithWatterman_GapPenalty" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SmithWatterman_MatchScore" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SmithWatterman_MismatchScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxRecents" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FileName_Recents" serializeAs="String">
                <value>9999999RecentsFile.json</value>
            </setting>
            <setting name="File_CTF_Inc" serializeAs="String">
                <value>9999999CTF_Inc.json</value>
            </setting>
            <setting name="File_CTF_Map" serializeAs="String">
                <value>9999999CTF_Map.json</value>
            </setting>
            <setting name="File_Subject_Map" serializeAs="String">
                <value>9999999Subject_Map.json</value>
            </setting>
            <setting name="File_Common_Words" serializeAs="String">
                <value>9999999CommonWords.json</value>
            </setting>
            <setting name="File_ConditionalReminders" serializeAs="String">
                <value>999999ConditionalReminders.json</value>
            </setting>
            <setting name="FileName_CategoryFilters" serializeAs="String">
                <value>999999CategoryFilters.json</value>
            </setting>
            <setting name="View_Wide" serializeAs="String">
                <value>Main View</value>
            </setting>
            <setting name="View_Compact" serializeAs="String">
                <value>Compact</value>
            </setting>
            <setting name="BackupFile_CTF_Inc" serializeAs="String">
                <value>9999999CTF_Inc.txt</value>
            </setting>
        </TaskMaster.MySettings>
        <TaskMaster.TaskMaster>
            <setting name="MaxToDo" serializeAs="String">
                <value>0</value>
            </setting>
        </TaskMaster.TaskMaster>
    </userSettings>
    <applicationSettings>
        <TaskMaster.MySettings>
            <setting name="MaxToDo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileName_ProjInfo" serializeAs="String">
                <value>ProjInfo.bin</value>
            </setting>
            <setting name="FilenameDictPpl" serializeAs="String">
                <value>pplkey.json</value>
            </setting>
            <setting name="FileName_IDList" serializeAs="String">
                <value>UsedIDList.bin</value>
            </setting>
        </TaskMaster.MySettings>
    </applicationSettings>
    <log4net>
      <log4net>
        <!--
        This writes the log information to the console window.  It only logs events
        that are at least at the INFO level (which would mean that DEBUG events are not
        captured.
        -->
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception" />
          </layout>
          <!--<filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="DEBUG"/>
            <levelMax value="FATAL"/>
          </filter>-->
        </appender>
        <!--
        This stores information in the mylogfile.txt file.  It only captures log events
        that contain the key word test or error.
        -->
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
          <file value="log_" />
          <appendToFile value="true" />
          <rollingStyle value="Date" />
          <datePattern value="yyyyMMddHHmm.\tx\t" />
          <staticLogFileName value="false" />
          <!--
          Commented out the filters
          <filter type="log4net.Filter.StringMatchFilter">
            <stringToMatch value="test"/>
          </filter>
          <filter type="log4net.Filter.StringMatchFilter">
            <stringToMatch value="error"/>
          </filter>
          <filter type="log4net.Filter.DenyAllFilter"/>
          -->
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception" />
          </layout>
        </appender>
        <root>
          <level value="DEBUG" />
          <appender-ref ref="RollingFileAppender" />
        </root>
      </log4net>
    </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
